<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns"> 
          <div class="header-sort" [ngClass]="{'clickable': column.sortable}" (click)="column.sortable && sort(column.field)">
            <div class="header-first-col">
              {{column.header}}
            </div>
            <div class="header-col" *ngIf="column.sortable == true && sortCol.field != column.field">
              <span class="fa fa-sort" style="color: #aaaaaa"></span>
            </div>
            <div class="header-col" *ngIf="column.sortable == true && sortCol.field == column.field && sortCol.order == 'asc'">
              <span class="fa fa-sort-up"></span>
            </div>
            <div class="header-col" *ngIf="column.sortable == true && sortCol.field == column.field && sortCol.order == 'des'">
              <span class="fa fa-sort-down"></span>
            </div>
          </div>
          <div class="header-search">
            <input type="text" #searchStr class="form-control" placeholder="type to filter" *ngIf="column.searchable == true" (keyup)="updateSearchParams(column.field, searchStr.value)">
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let row of data | filterRecords: searchParams">
      <tr>
        <td *ngFor="let column of columns" [ngClass]="{'favorite-col': column.colType == 'favorite'}">
          <span *ngIf="column.colType == 'data'">
              {{row[column.field]}}
          </span>
          <span *ngIf="column.colType == 'favorite'" (click)="toggleFavorite(row, column.field)">
            <i class="fa fa-heart fa-2x" [ngClass]="{'favorite': row[column.field] == true, 'not-favorite': row[column.field] == false}"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>