table {
  width: 100%;
  border: 1px solid #dee2e6;
}

th, td{
  overflow-wrap: break-word;
  min-width: 100px;
  max-width: 100px;
  padding: 10px;
  border: 1px solid #dee2e6;
}

th {
  border-bottom-width: 2px;
  vertical-align: top;
}

.clickable {
  cursor: pointer;
}

.header-search {
  margin-top: 10px;
}

.header-sort {
  display: flex !important;
  position: relative !important;
}

.header-first-col {
  flex: 1;
}

.header-col {
  position: absolute;
  right: 0;
  top: 0;
}

.favorite-col {
  text-align: center;
}

.favorite {
  color:tomato;
  cursor: pointer;
}

.not-favorite {
  color:#dee2e6;
  cursor: pointer;
}

.pagination-row {
  text-align: center;
}

.pagination-row td {
  padding: 10px 10px 0px 10px;
}