<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns"> 
          <div class="header-sort">
            <div #colName class="header-first-col">
              {{column.header}}
            </div>
            <div #icon1 class="header-col">
              <span class="fa fa-sort" style="color: #aaaaaa"></span>
            </div>
            <div #icon2 class="header-col">
              <span class="fa fa-sort-up"></span>
            </div>
            <div #icon3 class="header-col">
              <span class="fa fa-sort-down"></span>
            </div>
          </div>
          <div class="header-search" style="float: none">
            <input type="text" class="form-control" placeholder="type to filter">
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let row of data">
      <tr>
        <td *ngFor="let column of columns">{{row[column.field]}}</td>
      </tr>
    </tbody>
  </table>
</div>