<div>
  <div class="jumbotron">
    <div class="container-fluid">
      <h2>Custom Data Table</h2>
    </div>
  </div>
  <div class="container-fluid">
    <data-table [data]=vehicles>
      <data-column [field]="'id'" [header]="'ID'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
      <data-column [field]="'make'" [header]="'Make'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
      <data-column [field]="'model'" [header]="'Model'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
      <data-column [field]="'year'" [header]="'Year'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
      <data-column [field]="'package'" [header]="'Package'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
      <data-column [field]="'fuelType'" [header]="'Fuel Type'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
      <data-column [field]="'transmission'" [header]="'Transmission'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
      <data-column [field]="'favorite'" [header]="'Favorite'" [sortable]=true 
        [searchable]=true [colType]="'Data'" [searchType]="'Text'"></data-column>
    </data-table>
  </div>
</div>